body {
  background-color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
/* Navigation */
header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7rem 10%;
  background-color: black;
  box-shadow: 0 1px 4px #63ffe8;
}

.user {
  color: #d61374;
  font-size: 1.9rem;
  font-weight: 800;
  text-decoration: none;
}

.user :hover {
  color: #eaf9b3;
}

#menu {
  cursor: pointer;
  display: none;
  font-size: 3rem;
}

.list-nav {
  list-style: none;
  justify-content: center;
  display: flex;
  align-items: center;
}

.list-nav li {
  margin-left: 2.5rem;
}


.list-nav li a {
  color: rgb(244, 10, 10);
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  margin: 10px;
  letter-spacing: 0.04rem;
  transition: 0.2s;
}
.list-nav li a.active,
.list-nav li a:hover {
  color: #63ffe8;
  border-bottom: 0.13rem solid #63ffe8;
  padding: 0.5rem 0;
}

/* Home Section */
.home {
  display: flex;
  position: relative;
  gap: 1.5rem;
  flex-wrap: wrap;
  min-height: 100vh;
  align-items: center;
}

.home .content {
  flex: 1 1 40rem;
  padding-left: 11rem;
  z-index: 1;
}

.home .image {
  flex: 1 1 20rem;
  z-index: 1;
}

.home .image img {
  width: 70%;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  cursor: pointer;
}

.home .image img:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.home .content h1{
  font-size: 4rem;
  font-weight: 700;
  color: #002057;
}

.home .content h1 span {
  color: #ff7b00;
}

.home .content p {
  font-size: 2.4rem;
  color: #000;
  font-weight: 500;
  padding: 1rem 0;
}

.home .content p span {
  font-size: 2.5rem;
  color: rgb(148, 8, 8);
  font-weight: 600;
  padding: 1rem 0;
}
.home .btn {
  margin-top: 1rem;
  position: absolute;
  line-height: 0;
  padding: 1.6rem 3rem;
  border-radius: 4em;
  transition: 0.5s;
  color: #fff;
  text-decoration: none;
  background: #2506ad;
  box-shadow: 0px 5px 18px rgba(48, 68, 247, 0.6);
  font-family: "Nunito", sans-serif;
}

.home .btn span {
  font-weight: 700;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
}

.home .btn:hover {
  background: #1a047e;
}

/* icon section*/
.social {
  position: relative;
  margin-top: 9rem;
}
.social .social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social .social-icons li {
  display: inline-block;
  margin-bottom: 14px;
}
.social-icons li a {
  font-size: 2rem;
  display: inline-block;
  line-height: 44px;
  color: #00d9ff;
  background-color: #09011b;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #0685da;
}
.social-icons a.github:hover {
  background-color: #0e0e0e;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}