body {
  background-color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
/* Navigation */
header {
  background-color: #011936;
  padding: 13px 45px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.user {
  color: #F5F3F4;
  text-decoration: none;
  font-size: 1.4rem;
  margin-right: 420px;
}

.user :hover {
  color: #eaf9b3;
}

#menu {
  cursor: pointer;
}

.list-nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.list-nav li {
  margin-right: 20px;
  font-size: 1.1rem;
  margin-right: 20px;
}


.list-nav li a {
  color: white;
  text-decoration: none;
  margin: 10px;
  letter-spacing: 0.04rem;
  transition: 0.2s;
}
.list-nav li a.active,
.list-nav li a:hover {
  color: #63ffe8;
  border-bottom: 0.13rem solid #63ffe8;
  font-weight: 100;
}

/* Home Section */
.home {
  display: flex;
  position: relative;
  gap: 1.5rem;
  flex-wrap: wrap;
  min-height: 100vh;
  align-items: center;
}

.home .content {
  margin: 10rem;
}
