body {
  background-color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
/* Navigation */
header {
  background-color: #011936;
  padding: 11px 45px;
  display: flex;
  justify-content: space-between;
}

.user {
  color: #F5F3F4;
  text-decoration: none;
  padding-right: 9rem;
  font-size: 1.1rem;
  font-weight: 200;
}

.user:hover {
  color: #63ffe8;
}

#menu {
  cursor: pointer;
}


.list-nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.list-nav li {
  margin-right: 20px;

}


.list-nav li a {
  color: white;
  text-decoration: none;
  letter-spacing: 0.04rem;
  transition: 0.2s;
}
.list-nav li a.active,
.list-nav li a:hover {
  color: #63ffe8;
  border-bottom: 0.13rem solid #63ffe8;
}

/* Home Section */
.home {
  display: flex;
  background-color: #63ffe8;
}

